<!DOCTYPE html>
<html>
<head>
  <title>Facebark</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>

  <script type="text/javascript">
    window.pusherKey = "<%= Pusher.key %>"
  </script>


<%= yield %>

  <div id="status">Status Messages</div>
</body>
</html>
